<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="login_form_inner register_form_inner">
                    <h3>Add a product</h3>
                    <form th:object="${productDto}" class="row login_form" action="/addProduct" id="register_form"
                          method="POST" enctype="multipart/form-data">
                        <div class="col-md-12 form-group">
                            <input th:field="*{name}" type="text" class="form-control" id="name" name="name"
                                   placeholder="Name" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Name'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{category}" type="text" class="form-control" id="category" name="category"
                                   placeholder="Category" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Category'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{price}" type="text" class="form-control" id="price" name="price"
                                   placeholder="Price" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Price'">
                            <p th:each="error : ${#fields.errors('price')}" th:text="${error}"></p>
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{description}" type="text" class="form-control" id="description"
                                   name="description" placeholder="Description" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Description'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{quantity}" type="text" class="form-control" id="quantity"
                                   name="quantity" placeholder="Quantity" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Quantity'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="file" class="form-control" id="productImage"
                                   name="productImage">
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">Add product
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


</body>
</html>